.eventsForm {
  &__button {
    button {
      background-color: white;
      border-color: #a3a3a3;
      color: #a3a3a3;
      width: 100%;
      &:hover {
        background-color: #a3a3a3;
        border-color: #a3a3a3;
        color: white;
      }
    }
  }
  &__error {
    margin-top: 10px;
    color: red;
    font-style: italic;
    font-size: 14px;
  }
}